:root {
  --ab: #039be5;
  --ao: #ffa100;
  --bg: #ECEFF1;
  --bgb: #f1f3f4;
  --bgh: #e8eaed;
  --ptc: #202124;
  --stc: #4e5257;
  --ttc: #bdc1c6;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --tbshadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
  --trans: width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}


div.display{
    box-shadow: 5px;
    backdrop-filter: blur(1px);
}

div.qna{
    margin: 2px;
    padding: 10px;
    border: 3px solid var(--ptc);
    background-color: rgba(255,255,255,0.24);
    border-radius: 0px;
    margin-right: 20px;
    position: fixed;
    left: 20px;
    top: 132px;
    height: 500px;
    width: 70%;
    z-index: 6;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    backdrop-filter: blur(3px);
}

div.cc{
    display: inline-block;
    height: inherit;
    padding: 12px;
    box-shadow: var(--shadow);
    background-color: rgba(255,255,255,0.24);
    backdrop-filter: blur(3px);
    width: 600px;
    white-space: normal;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.options{
  justify-content: center;
  text-align: center;
}

.rr{
  display: inline-block;
  width: 500px;
}

.submit{
  
}


div.q_no{
  position: fixed;
  right: 10px;
  top: 132px;
  height: 500px;
  width: 30%;
  border: 2px var(--stc);
}

div.numbers{
  display: flex;
  border: 2px solid var(--stc);
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 2px;
  white-space: nowrap;
  background-color: var(--ab);
}

div.que span{
    border: 2px solid var(--stc);
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 30px;
    text-align: center;
    transition: 0.2s;
}

div.que span:hover{
  box-shadow: var(--shadow);
  color: var(--bgh);
  background-color: var(--trans);
  transition: 0.2s;
}


div.bb{
  display:inline;
  background-color: var(--ao);
  backdrop-filter: blur(1px);
  border: 1px solid var(--stc);
  box-shadow: var(--tbshadow);
  z-index: 10px;
  font: bold;
  color: var(--ptc);
  margin: 5px;
  padding: 2px;
}


